:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontSize: 1rem;
    --anchoMaximo: 1100px;
    --marginGrid: 1rem;
}

html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.comtainer {
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: var(--fontSize);
}