@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

/* layout */
:root {
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuentetitulos: 'Handlee', cursive;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontSize: 1rem;
    --anchoMaximo: 1100px;
    --marginGrid: 1rem;
}

html {
    scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: var(--anchoMaximo);
    margin: 0 auto;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: var(--fontSize);
}

.boton {
    display: inline-block;
    border: 1px solid var(--colorPrincipal);
    background-color: var(--colorPrincipal);
    padding: 1.15em;
    color: white;
    text-decoration: none;
}

.boton:hover {
    background-color: transparent;
    color: var(--colorPrincipal);
}

.boton:hover i {
    transform: translateX(5px) scale(1.2);
    transition: 0.5s;
}

.enlace {
    text-decoration: none;
    color: var(--colorPrincipal);
    font-weight: 700;
}

/* fin layout */

/*header */

header .nav-top {
    background-color: var(--colorSecundario);
    padding: 1.250rem 0;

}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorPrincipal);
    text-decoration: none;
}

header .nav-top i {
    font-size: 150%;
}

header .nav-top span {
    display: none;
    color: white;
    font-size: 110%;
}


header nav {
    padding: 1.25rem;
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo {
    max-width: 6.25rem;
}

header .hamburguesa {
    cursor: pointer;
    width: 1.875rem;
}

header .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625rem;
}

header .menu {
    width: 100%;
    text-align: center;
    padding-top: 1.750rem;
}

header .menu a {
    display: block;
    padding: 1.25rem;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
    color: #aaa;
}

header .menu li:last-child a {
    border-bottom: 0px;
}

header .menu :is(.active, a:hover) {
    color: var(--colorPrincipal);
}

/* fin header */

/* footer */
footer {
    background-color: var(--colorSecundario);
    padding: 1.250rem 0rem;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorPrincipal);
}

.flecha {
    position: fixed;
    bottom: 4.375rem;
    right: 1.250rem;
}

.flecha a {
    color: var(--colorPrincipal);
    font-size: 250%;
}

/* fin footer */

/* hero */

.hero {
    height: 60vh;
    background-image: url(../images/fondo.jpg);
    background-color: rgb(145 145 145);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    display: flex;
}

.hero .container {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    gap: var(--marginGrid);

}

.hero h1 {
    font-family: var(--fuentetitulos);
    font-size: 2.25em;
    color: white;
}

.hero h2 {
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-size: 1.25em;
    text-shadow: 1px 1px 1px black;
}

.hero p {
    font-family: var(--fuentePrincipal);
    font-size: 1.15em;
    color: white;
}

.hero .social {
    display: flex;
    justify-content: space-between;
    width: 10.5rem;
}

.hero .social a {

    color: white;
    font-size: 2em;
    text-decoration: none;
}

/* fin hero */

/*inicio main*/
main section {
    padding: 2.125rem 0;
}

main section h2 {
    color: black;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--colorPrincipal);
}

main section .underline {
    position: relative;
    width: 6.250rem;
    margin: 0 auto;
    color: var(--colorPrincipal);
    font-weight: 700;
}

main section .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorPrincipal);
}

main section .underline span {
    text-align: center;
    display: block;
}

main section .grid {
    display: grid;
}

/*inicio ourservices*/

main #ourservices article {
    border-bottom: 1px solid #aaa;
    padding: 1.5rem 0rem;
    margin: 0rem 1.5rem;
}

main #ourservices article div .fas {
    color: var(--colorPrincipal);
    font-size: 140%;
    border: 1px solid var(--colorPrincipal);
    padding: 0.5rem;
}

#ourservices article h3 {
    font-weight: 700;
    font-size: 110%;
    margin: 0.625rem 0;
}

#ourservices article p {
    color: #666;
    line-height: 1.25;
    margin-bottom: 0.625rem;
}

.fa-truck {
    transform: rotateY(180deg);
}

/*fin ourservices*/

/*inicio about us*/

#aboutus .grid {
    padding: 0 1.250rem;

}

#aboutus figure {
    margin: 1.250rem auto;
}

#aboutus figure .frame {
    border: 4px solid var(--colorPrincipal);
}



#aboutus figure .frame:hover {
    transform: rotate(0deg);

}

#aboutus h3 {
    font-weight: 700;
    font-size: 110%;

}

#aboutus h4 {
    margin: var(--marginGrid) 0;
    color: var(--colorPrincipal);

}

#aboutus p {
    color: #666;
    margin-bottom: var(--marginGrid);
}

#aboutus {
    margin-bottom: 70px;
}

/*fin about us/*

/*inicio our blogs*/

#ourblog .grid {
    padding: 0 1.250rem;

}

#ourblog h1 {
    display: none;
}

#ourblog h3 {
    font-weight: 700;
    font-size: 110%;

}

#ourblog h4 {
    margin: var(--marginGrid) 0;
    color: var(--colorPrincipal);

}

#ourblog p {
    color: #666;
    margin-bottom: var(--marginGrid);
}

#ourblog {
    margin-bottom: 4.375rem;
}

#ourblog .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
    margin-top: 1.250rem;

}

#ourblog figure {
    margin: 1.250rem auto;
    position: relative;
}

#ourblog figure .fecha {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    filter: opacity(85%);
    background-color: var(--colorPrincipal);
    color: white;
    font-size: 1rem;
    padding: 10px;
    font-weight: 700;
}

/*fin our blogs*/

/*inicio menu*/

main :is(aside, .gridmenu) {
    background-color: var(--colorSecundario);
}

main .titulo {
    background-color: var(--colorSecundario);
    padding: 2.125rem 0;
}

main .titulo h2 {
    color: white;
    font-family: var(--fuentetitulos);
    font-size: 2em;
    text-align: center;
}

main .titulo h2 span {
    color: var(--colorPrincipal);
}

main .titulo .underline {
    position: relative;
    width: 6.250rem;
    margin: 0 auto;
    color: var(--colorPrincipal);
    font-weight: 700;
}

main .titulo .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorPrincipal);
}

main .titulo .underline span {
    text-align: center;
    display: block;
}

aside nav ul a {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-family: var(--fuentePrincipal);
    padding: 1.250rem;
}

aside nav a:hover:not(.active) {
    color: var(--colorPrincipal);
}

aside nav .active {
    background-color: var(--colorPrincipal);
    border-radius: .312rem;
}

main aside {
    display: flex;
    flex-direction: column;

}

main aside nav {
    margin: 0rem 5rem;
}

main aside article {
    margin: 0rem 5rem;
}

main aside article h3 {
    font-family: var(--fuentetitulos);
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1.625rem;
}


main aside .underline {
    position: relative;
    width: 5rem;
    padding-bottom: 20px;
    color: var(--colorPrincipal);
    font-weight: 700;
}

main aside .underline hr {
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorPrincipal);
}

main aside article p {
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: var(--fontSize);
}

main .gridmenu {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;

}

main .gridmenu article {
    margin: 0rem 5rem;

}

.gridmenu .contenido {
    position: relative;
}

.gridmenu .contenido div {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.gridmenu .contenido div p {
    color: white;
    font-size: var(--fontSize);
    font-family: var(--fuentePrincipal);
}

.gridmenu .contenido div a {
    padding: 20px 0px 40px 0px;
}

.gridmenu h3 {
    color: white;
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    padding: 20px 0px;
    font-size: 1.2rem;
}

.gridmenu .contenido .price {
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 0px;
    width: 10%;
}

/*fin menu*/

/*fin main*/


/* mediaqueries */

@media(min-width:37.5rem) {
    main #ourservices .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    main #ourservices .grid article:last-child {
        grid-column: 1/3;
    }

    main #ourservices article {
        border-bottom: 0px;
        border-left: 1px solid #aaa;
        padding: 1.5rem;
        margin-bottom: 1.5rem;

    }

    #aboutus .grid {
        grid-template-columns: repeat(2, 1fr);

    }


}

@media(min-width:48rem) {
    header .nav-top span {
        display: inline;
    }

    header .nav-top .container {
        justify-content: space-between;
    }

    footer {
        text-align: left;

    }

    main #ourservices .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    main #ourservices .grid article:last-child {
        grid-column: 3/4;
    }

    #ourblog .grid {

        grid-template-columns: repeat(3, 1fr);



    }
}


@media(min-width:62.750rem) {
    header .hamburguesa {
        display: none;
    }

    header .menu {
        width: auto;
        text-align: right;
        padding-top: 0rem;
    }

    header .menu li {
        display: inline-block;
    }

    header .menu a {
        padding: 0.5rem 0rem 0.5rem 1rem;
        border-bottom: 0px;
    }
}